.container{
    margin-bottom: 3rem;
    border-bottom: 1px solid #b8b8b8;
}
.navLinks {
    display: flex;
    list-style: none;
    padding: 0;
}

.linkItem {
    padding: 5px 0;
    padding-right:25px;
    font-weight: bold;
}

.header{
    height:6rem;
    margin-bottom: 2rem;
}
.header div{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.title{
    font-size: 3rem;
}
