.sectionBlack{
    background-color:#111111;
    color:white;
}

.container{
    height:8rem;
    display:flex;   
    justify-content: center;
    align-items: center;

    background-image: url(../../public/assets/img/budget.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.container a{
    font-weight: bold;
    color: #111111;
    padding: 1.5rem 10rem;
    background-color: rgb(245, 163, 133);
    border-radius: 10px;

    text-decoration: none;
}

.container a:hover{
    filter:brightness(125%);
    padding: 1.7rem 10.5rem;
    transition: linear 0.4s;
}