.sectionBlack{
    background-color:#000000;
    color:white;
    padding:2rem;
}
.containerBlog {
    display:flex;
    justify-content: space-evenly;

}

.containerImage{
    margin-right: 2rem;
}

.containerInfo{
    display: inherit;
    flex-direction: column;

    width: 45vw;
}

.containerInfo h4{
    margin-top:0;
}


.except{
    min-height: 20vh;
}

.titleH2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}
