.sectionBlack{
    background-color:#111;
    color:white;
    padding:2rem;
}
.containerBlog {
    display:flex;
    justify-content: space-evenly;

}

.containerImage{
    margin-right: 2rem;
}

.containerInfo{
    display: inherit;
    flex-direction: column;

    width: 45vw;
}

.containerInfo h4{
    margin-top:0;
}

.containerInfo a{
    padding: 0.5rem;

    max-width:3rem;
    background-color: #fff;
}
.except{
    min-height: 20vh;
}
   

.titleH2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}
